@using System.Threading.Tasks
<div class="title-header">
    <h2>{{collectionPicker.gender}}</h2>
</div>

<div id="collection-type-picker">
    <div class="collection-type-item">
        <a data-ui-sref="gallery({gender:collectionPicker.gender, articleType:'tshirt'})">
            <h2>T-shirt</h2>
            <div class="image-wrapper">
                <div class="cover-image" id="model-women-tshirt"></div>
            </div>
        </a>
    </div>
    <div class="collection-type-item">
        <a data-ui-sref="gallery({gender:collectionPicker.gender, articleType:'top'})">
            <h2>Top</h2>
            <div class="image-wrapper">
                <div class="cover-image" id="model-women-top"></div>
            </div>
        </a>
    </div>
</div>