@using System.Threading.Tasks
@model Cuartato.Website.Models.Collection.GalleryViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-header">
    <h2>
        <a asp-controller="Collection" asp-action="List" asp-route-collectionGender="@Model.Gender">@Model.Gender</a>
        @if (Model.CollectionType.HasValue)
        {
            <text>&gt; @Model.CollectionType</text>
        }
    </h2>
</div>

<div id="gallery-swipe" data-ng-controller="articleSliderController as articleSlider" data-ng-init="articleSlider.init()">
    <ul class="swipe-container">
        <li class="swipe-item"
            data-ng-class="{active: articleSlider.activeIndex == $index, prev: articleSlider.activeIndex>$index, next: articleSlider.activeIndex<$index}"
            data-ng-repeat="article in articleSlider.articles"
            data-ng-swipe-right="articleSlider.prevSlide()"
            data-ng-swipe-left="articleSlider.nextSlide()"
            data-ng-click="articleSlider.clickOn($index, article)"
            data-ng-style="{'transform': articleSlider.getTransformation($index)}">
            <div class="swipe-item-wrapper">
                <h2>{{article.Title}}</h2>
                <div class="article-image-wrapper">
                    <img data-ng-src="{{article.ImageUrl}}" class="slide slide-animation nonDraggableImage"/>
                </div>
                <div class="call-to-action-customize">
                    Personnalize
                </div>
            </div>
        </li>
    </ul>

    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot"
                    data-ng-repeat="article in articleSlider.articles"
                    data-ng-class="{active: articleSlider.activeIndex == $index, prev: articleSlider.activeIndex<$index, next: articleSlider.activeIndex>$index}"
                    data-ng-click="articleSlider.navigateTo($index)">
                    <button data-ng-click="articleSlider.navigateTo($index)"></button>
                </li>
            </ul>
        </div>
    </nav>

    <div data-modal data-content-partial-url="'/angular/widgets/article-detail/article-detail.view.html'" data-open-modal="articleSlider.openModal" data-on-close="articleSlider.resetSelection"></div>
</div>

@section Scripts
{
    <script src="~/js/article.slider.js"></script>
}